{{extend 'layout.html'}}
<style>
input.ng-invalid {
	border : 1px solid red;
	box-shadow : 1px 1px 3px red;
    background: #ff9da4;
}
.ng-invalid::before {
    content: ' ';
    background: darkred;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.ng-valid::before{
    content: ' ';
    background: greenyellow;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
</style>
<w2p-resource-form resource="pet" new></w2p-resource-form>
<w2p-resource-form resource="person" new></w2p-resource-form>
<table>
    <tr>
        <td>
            <w2p-data resource="pet" withreferences>
                <table class="table table-striped">
                    <tr ng-repeat="pet in items">
                        <td>{* pet.name *}</td>
                        <td>{* pet._pet_owner *}</td>
                        <td>
                            <span ng-click="$selectPet(pet)" class="btn">select</span>
                            <span ng-click="$deletePet(pet)" class="btn btn-warning">delete</span>
                        </td>
                        <td>{* pet.pet_owner *}</td>
                    </tr>
                </table>
            </w2p-data>
        </td>
        <td>
            <w2p-data resource="person">
                <table class="table table-striped">
                    <tr ng-repeat="p in items">
                        <td>{* p._representsAs *}</td>
                        <td>{* p.first_name *}</td>
                        <td>
                            <w2p-data resource="pet" filter="{pet_owner : {* p.id *} }">
                                <ul>
                                    <li ng-repeat="pet in items">{* pet.name *}</li>
                                </ul>
                            </w2p-data>
                        </td>
                        <td>
                            <span ng-click="$selectPerson(p)" class="btn">select</span>
                            <span ng-click="$deletePerson(p)" class="btn btn-danger">Delete</span>
                        </td>
                    </tr>
                </table>
            </w2p-data>
        </td>
    </tr>
</table>
